body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#header {
  display: flex;
  align-items: center;
  margin-bottom: 5px;
}

#candle-orders {
  margin-right: 20px;
}

#main-section {
  width: 80%;
  height: 70%;
}

#order-form {
  width: 100%;
  height: 100%;
}

.input {
  color: red;
  width: 33%;
}
