body {
  margin: 0;
  font-family: "Roboto", sans-serif;
}

.App {
  height: 100vh;
  width: 100vw;
  display: flex;
  align-items: center;
  justify-content: center;
}

#main-section {
  width: 80%;
  height: 50%;
}

#order-form {
  width: 100%;
  height: 100%;
}

.input {
  color: red;
  width: 33%;
}
